.App {
  text-align: center;
}

.vertical-nav {
  min-width: 15rem;
  width: 15rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); */
  transition: all 0.4s;
  background: linear-gradient(45deg, rgba(204,103,255,1) 0%, rgba(0,212,255,1) 59%, rgba(17,255,164,1) 100%);
}

.nav-item{
  text-align: left;
}

.nav-link {
  color:white;
  opacity: 60%;
  font-size: 24px;
}

.active {
  opacity: 95%;
}

h2 {
  color:white;
}

#main-header {
  padding-top: 2rem;
}

.page-content {
  background-color: whitesmoke;
  width: calc(100% - 15rem);
  margin-left: 15rem;
}

#prof-description {
  margin-left: 2rem;
  text-align: left;
  font-size: 22px;
}

.pic-container {
  position: relative;
  display: inline-block;
  margin:20px;
}

.portfolio-pic {
  width: 200px;
  height: 200px;
}